*.dll
bin/
obj/

v15/
node_modules/
.vs/RegWatcher/v15/.suo
.vs/RegWatcher/v15/Server/sqlite3/storage.ide
.vs/RegWatcher/v15/Server/sqlite3/storage.ide-wal
*.ide
*.ide-wal
.vs/RegWatcher/DesignTimeBuild/.dtbcache
.vs/RegWatcher/v15/Server/sqlite3/storage.ide-wal
.vs/RegWatcher/v15/Server/sqlite3/storage.ide-shm
.vs/RegWatcher/v15/Server/sqlite3/storage.ide
.vs/RegWatcher/v15/.suo
.vs/RegWatcher/DesignTimeBuild/.dtbcache
RegWatcher/Отчёт.xlsx
RegWatcher/Отчёт.xlsx
.vs/RegWatcher/v16/Server/sqlite3/db.lock
